.MuiCard-root {
  height: 200px;
  .MuiCardHeader-root {
    background-color: #323c83;
  }
  .MuiCardHeader-title {
    font-size: 20px;
    color: white;
  }
  .MuiCardContent-root {
    .MuiTypography-root {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
